.food-container {
	margin-top: -10px;
}

.todays-menu {
	font-family: 'Holtwood One SC';
	text-align: center;
}


.food-items {
	font-family: helvetica, arial, sans-serif;

	.food-items-headline {
	  font-family: 'Holtwood One SC';
	}

	.food-items h4 {
		font-size: 21px;
	}

	.food-items p {
		color: #bf9280;
	}
}

.two-images {
	margin-top: 20px;

}